body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: rgb(50, 50, 50);
}

::selection {
  background-color: white;
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #242526;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}